<app-encabezado titulo="avatar page"></app-encabezado>

<ion-content>


  <ion-list>
    <ion-item *ngFor = "let item of [1,2]">
      <ion-chip>
        <ion-avatar>
          <img src="/assets/perrito.png">
        </ion-avatar>
        <ion-label>Avatar Perro</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

  
  <ion-list>
    <ion-item *ngFor = "let item of [1,2]">
      <ion-chip>
        <ion-avatar>
          <img src="/assets/gatito.png">
        </ion-avatar>
        <ion-label>Avatar Gato</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>


</ion-content>
