<app-encabezado titulo="contenido page"></app-encabezado>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="/assets/kobe.jpg">
      <ion-card-subtitle>Dear Basketball</ion-card-subtitle>
      <ion-card-title>Kobe Bryant</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      From the moment
      I started rolling my dad’s tube socks
      And shooting imaginary
      Game-winning shots
      In the Great Western Forum
      I knew one thing was real:
      
      I fell in love with you.

      <br><br>

      I played through the sweat and hurt
      Not because challenge called me
      But because YOU called me.
      I did everything for YOU
      Because that’s what you do
      When someone makes you feel as
      Alive as you’ve made me feel.

      You gave a six-year-old boy his Laker dream
      And I’ll always love you for it.
      But I can’t love you obsessively for much longer.
    </ion-card-content>

    <br><br>
    <p>Para ver el poema completo da click en el boton</p>

    <ion-button  target = "_blank" strong = "true" shape="round" fill="outline" href="https://www.youtube.com/watch?v=8Q1LSZc4hDg">Watch the video</ion-button>

  </ion-card>
  



</ion-content>
