
  <ion-menu side="start" menuId="primerMenu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>


        <ion-menu-toggle *ngFor = "let l of lista | async">
          <ion-item  [routerLink] = "l.redirectTo">
            <ion-icon slot="start" [name] = "l.icon"></ion-icon>
  
            <ion-label> {{l.name}} </ion-label>
            
          </ion-item>

        </ion-menu-toggle>



      </ion-list>
    </ion-content>
  </ion-menu>