<app-encabezado titulo="botones page"></app-encabezado>


<ion-content>
  <!-- target: 
    _blank (lo abre en una nueva pagina )
    _self (lo abre dentro de la misma aplicacion)
    _parent -->
  <ion-button target = "_top" color="secondary" href="https://ionicframework.com/"> Ionic </ion-button>
  <br><br>  
  <ion-button disabled="true" color="danger"> No funciona </ion-button>
  <br><br>  
  <ion-button strong = "true" color="success" expand="full">Full Button</ion-button>
  <br><br>
  <ion-button shape="round">Round Button</ion-button>
  <br><br>

  <ion-button strong = "true" shape="round" fill="outline">Outline + Round</ion-button>


</ion-content>
